@model IEnumerable<string>
<div class="d-grid gap-2">
	@Html.ActionLink("Home", "List", "Gadget", null,
	new { @class = "btn btn-outline-info w-100 btn-lg mb-2" })

	@foreach (var link in Model)
	{
		@Html.RouteLink(link, new
		{
			controller = "Gadget",
		action = "List",
		category = link,
		page = 1
		},

		new { @class = "btn btn-outline-primary w-100 btn-lg mb-2" 
		+ (link == ViewBag.SelectedCategory ? " active" : "")
		})
	}
</div>
